/* add styles here */

body {
  font:1em Helvetica, sans-serif;
}

.chat {
  width: 800px;
  height: 600px;
  margin: 0 auto;
}

.header {
  margin: 5px 0;
  text-align: center;
}

.content {
}

.footer {
  margin: 5px 0;
}

.messages {
  padding: 5px;
  height: 400px;
  overflow-y: scroll;
  background-color: #EFEFEF;
  -webkit-border-radius:9px;
  -moz-border-radius:9px;
  border-radius: 9px;
}

.element {
  padding: 5px;
}

.time {
  display: none;
}

.name {
  font-weight: bold;
  padding: 0 5px 5px 0;
  float: left;
}

.message {
padding: 0 0 5px 0;
}